- dateFilter = '| date : "h:mma MMMM d, y"'

main.flex.center.stretch
  loader(ng-if="vm.loading")

  .timeline

  ul
    li.event-group.elevated-bottom(ng-repeat-start="eventGroup in vm.eventGroups" ng-if="eventGroup.text != 'Project Complete' " ng-class="{ expanded: vm.expanded[eventGroup.text], disabled: eventGroup.events.length == 0 }")
      header.flex
        button.clean.point(
          ng-class="{ expanded: vm.expanded[eventGroup.text]}"
          ng-click="vm.expanded[eventGroup.text] = !vm.expanded[eventGroup.text]"
        )
          .icon.plus

          .icon.minus

        h5.flex-grow {{eventGroup.text}}

        p.secondary {{eventGroup.createdTime | date}}

      ul.expand-big.events.transition(
        lock-height="no-height"
        retain-class="{{ !vm.expanded[eventGroup.text] }}"
        ng-class="{ 'no-height': !vm.expanded[eventGroup.text] }"
      )
        li.hr
          hr.smallest

        li.event(
          ng-repeat-start="event in eventGroup.events track by $index"
          ng-if="vm.expanded[event.type] != undefined"
        )
          //- SUBMITTED
          event-card.status-update(
            ng-if="event.type == 'STATUS_UPDATE' "
          )
            include parts/status-update.jade

          event-card.copilot(
            ng-if="event.type == 'COPILOT_ASSIGNED'"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/copilot

          event-card.quote(
            ng-if="event.type == 'QUOTE_INFO' "
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/quote

          event-card.payment(
            ng-if="event.type == 'PAYMENT_ADDED' && !event.eventTime"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/payment

          event-card.payment-added(ng-if="event.type == 'PAYMENT_ACCEPTED' ")
            include parts/payment-added

          //- LAUNCHED
          event-card.members(
            ng-if="event.type == 'MEMBER_REGISTRATION'"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/members

          event-card.messaging(
            ng-if="event.type == 'THREAD_INFO'"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/messages

          //- DESIGN CONCEPTS, FINAL DESIGNS
          event-card.submissions(
            ng-if="event.type == 'WORKSTEP_SUBMITTERS'"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/submissions

          event-card.comments(
            ng-if="event.type == 'SUBMISSION_THREAD_INFO' && (eventGroup.text == 'Final Designs' || eventGroup.text == 'Design Concepts') "
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/comments

          event-card.final-fixes-submissions(
            ng-if="event.type == 'FINALFIXES_SUBMISSION'"
            ng-class="{ expanded: vm.expanded[event.type] }"
          )
            include parts/final-fixes-submissions

          event-card.status-report(ng-if="event.type == 'STATUS_REPORT' ")
            include parts/status-report

          event-card.development-complete(ng-if="eventGroup.text == 'Development Begins' && eventGroup.createdTime ")
            include parts/development-complete

          //- event-card.final-deliverables(ng-if="eventGroup.text == 'Final Fixes' && event.type == 'SUBMISSION_THREAD_INFO' ")
          //-   include parts/final-deliverables

        li.event.finish(
          ng-if="(event.type == 'QUOTE_INFO' && event.status == 'Accepted') && ($index == eventGroup.events.length - 1)"
        )
          event-card.quote-accepted
            include parts/quote-accepted

        li.event.finish(
          ng-if="(eventGroup.text == 'Design Concepts' || eventGroup.text == 'Final Designs') && ($index == eventGroup.events.length - 1) && !vm.isSubmissionCompleted(eventGroup)"
        )
          event-card.select-winners
            include parts/select-winners

        li.event.finish(
          ng-if="(eventGroup.text == 'Design Concepts' || eventGroup.text == 'Final Designs') && ($index == eventGroup.events.length - 1) && vm.isSubmissionCompleted(eventGroup) "
        )
          event-card.winners
            include parts/winners

        li(
          ng-repeat-end=true
          ng-if="($index != eventGroup.events.length - 1) && (vm.expanded[event.type] != undefined) && (eventGroup.events[$index + 1].type != 'WORKSTEP_WINNERS' )"
        )
          hr.biggest

    li.splitter(ng-repeat-end)

    li.complete.disabled
      header
        button.clean.point

        h4(ng-class="{inactive: !vm.projectCompleted}") Project complete

        p(ng-if="vm.projectCompleted") {{ vm.projectCompletionDate | date }}
