- dateFilter = '| date : "h:mma MMMM d, y"'

h2 Timeline

main
  .timeline

  ul
    li.event-group(ng-repeat-start="eventGroup in vm.eventGroups" ng-if="eventGroup.text != 'Project Complete' ")
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded[eventGroup.text]}"
          ng-click="vm.expanded[eventGroup.text] = !vm.expanded[eventGroup.text]"
        )

        h4 {{eventGroup.text}}

        time {{eventGroup.createdTime | date}}

      ul.events(ng-class="{expanded: vm.expanded[eventGroup.text] }")
        li
          hr

        li.event(
            ng-repeat-start="event in eventGroup.events"
            )
          button.clean.point(
            ng-class="{expanded: vm.expanded[event.type]}"
            ng-click="vm.expanded[event.type] = !vm.expanded[event.type]"
          )
          //- SUBMITTED
          timeline-copilot(ng-class="{expanded: vm.expanded[event.type] }")
            include parts/copilot

          timeline-quote(ng-class="{expanded: vm.expanded[event.type] }")
            include parts/quote

          include parts/payment

          include parts/payment-added

          //- LAUNCHED
          include parts/members

          timeline-messaging
            include parts/messages

          //- DESIGN CONCEPTS, FINAL DESIGNS
          include parts/submissions

          timeline-comments
            include parts/comments

          include parts/select-winners

          include parts/winners

          //- DEVELOPMENT LAUNCHED

          //- DEVELOPMENT BEGINS
          timeline-status-report
            include parts/status-report

          include parts/development-complete

          timeline-final-deliverables
            include parts/final-deliverables

        li(ng-repeat-end ng-if="eventGroup.events.indexOf(event) != eventGroup.events.length - 1")
          hr.biggest

    li.splitter(ng-repeat-end)

    li.complete
      header
        button.clean.point

        h1 Project complete

        p {{vm.projectCompletionDate | date}}
