- dateFilter = '| date : "h:mma MMMM d, y"'

h2 Timeline

main
  .timeline

  ul
    li.event-group(ng-repeat-start="eventGroup in vm.eventGroups" ng-if="eventGroup.text != 'Project Complete' ")
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded[eventGroup.text]}"
          ng-click="vm.expanded[eventGroup.text] = !vm.expanded[eventGroup.text]"
        )

        h4 {{eventGroup.text}}

        time {{eventGroup.createdTime | date}}

      ul.expand-big.events(ng-class="{expanded: vm.expanded[eventGroup.text] }")
        li
          hr.biggest

        li.event(
          ng-repeat-start="event in eventGroup.events"
          ng-if="vm.expanded[event.type] != undefined"
          ng-class="{finish: eventGroup.text == 'Development Begins' || event.type == 'PAYMENT_ACCEPTED' || event.type == 'WORKSTEP_SUBMITTERS' || event.type == 'WORKSTEP_WINNERS'}"
        )
          button.clean.point(
            ng-class="{expanded: vm.expanded[event.type]}"
            ng-click="vm.expanded[event.type] = !vm.expanded[event.type]"
          )
          //- SUBMITTED
          timeline-copilot(
            ng-if="event.type == 'COPILOT_ASSIGNED'"
            ng-class="{expanded: vm.expanded[event.type] }"
          )
            include parts/copilot

          timeline-quote(
            ng-if="event.type == 'QUOTE_INFO' "
            ng-class="{expanded: vm.expanded[event.type] }"
          )
            include parts/quote

          timeline-payment(ng-if="event.type == 'PAYMENT_ADDED' && !event.eventTime ")
            include parts/payment

          timeline-payment-added(ng-if="event.type == 'PAYMENT_ACCEPTED' ")
            include parts/payment-added

          //- LAUNCHED
          timeline-members(ng-if="event.type == 'MEMBER_REGISTRATION' ")
            include parts/members

          timeline-messaging(ng-if="event.type == 'THREAD_INFO' ")
            include parts/messages

          //- DESIGN CONCEPTS, FINAL DESIGNS
          timeline-submissions(ng-if="event.type == 'WORKSTEP_SUBMITTERS' ")
            include parts/submissions

          timeline-comments(
            ng-if="event.type == 'SUBMISSION_THREAD_INFO' && (eventGroup.text == 'Final Designs' || eventGroup.text == 'Design Concepts') "
            )
            include parts/comments

          timeline-select-winners(ng-if="event.type == 'WORKSTEP_SUBMITTERS' ")
            include parts/select-winners

          timeline-winners(ng-if="event.type == 'WORKSTEP_WINNERS' ")
            include parts/winners

          //- DEVELOPMENT LAUNCHED

          //- DEVELOPMENT BEGINS
          timeline-status-report(ng-if="event.type == 'STATUS_REPORT' ")
            include parts/status-report

          timeline-development-complete(ng-if="eventGroup.text == 'Development Begins' && eventGroup.createdTime ")
            include parts/development-complete

          timeline-final-deliverables(ng-if="eventGroup.text == 'Final Fixes' && event.type == 'SUBMISSION_THREAD_INFO' ")
            include parts/final-deliverables

        li(ng-repeat-end ng-if="eventGroup.events.indexOf(event) != eventGroup.events.length - 1 && vm.expanded[event.type] != undefined")
          hr.biggest

    li.splitter(ng-repeat-end)

    li.complete
      header
        button.clean.point

        h3 Project complete

        p {{vm.projectCompletionDate | date}}
