- dateFilter = '| date : "h:mma MMMM d, y"'

h2 Timeline

main
  .timeline

  ul
    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.submitted}"
          ng-click="vm.expanded.submitted = !vm.expanded.submitted"
        )

        h4 Project submitted

        time 3 days ago

      ul.events(ng-class="{expanded: vm.expanded.submitted }")
        li
          hr

        li.event
          button.clean.point(
            ng-class="{expanded: vm.expanded.submittedCopilot}"
            ng-click="vm.expanded.submittedCopilot = !vm.expanded.submittedCopilot"
          )

          timeline-copilot(ng-class="{expanded: vm.expanded.submittedCopilot }")
            include parts/copilot

        li
          hr.biggest

        li.event
          button.clean.point(
            ng-class="{expanded: vm.expanded.submittedQuote}"
            ng-click="vm.expanded.submittedQuote = !vm.expanded.submittedQuote"
          )

          timeline-quote(ng-class="{expanded: vm.expanded.submittedQuote }")
            include parts/quote

        li
          hr.biggest

        li.event
          button.clean.point

          include parts/payment

        li.event.finish
          button.clean.point

          include parts/payment-added

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.launched}"
          ng-click="vm.expanded.launched = !vm.expanded.launched"
        )

        h4 Project launched

        time 3 days ago

      ul.events(ng-class="{expanded: vm.expanded.launched }")
        li
          hr

        li.event
          button.clean.point

          include parts/members

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-messaging
            include parts/messages

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.design}"
          ng-click="vm.expanded.design = !vm.expanded.design"
        )

        h4 Design concepts

        time 3 days ago

      ul.expand-big.events(ng-class="{expanded: vm.expanded.design }")
        li
          hr.biggest

        li.event
          button.clean.point

          include parts/submissions

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-comments
            include parts/comments

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-messaging
            include parts/messages

        li
          hr.biggest

        li.event.finish
          button.clean.point

          include parts/select-winners

          include parts/winners

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.final}"
          ng-click="vm.expanded.final = !vm.expanded.final"
        )

        h4 Final design phase

        time 3 days ago

      ul.expand-big.events(ng-class="{ expanded: vm.expanded.final }")
        li
          hr.biggest

        li.event
          button.clean.point

          include parts/submissions

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-comments
            include parts/comments

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-messaging
            include parts/messages

        li
          hr.biggest

        li.event.finish
          button.clean.point

          include parts/select-winners

          include parts/winners

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.development}"
          ng-click="vm.expanded.development = !vm.expanded.development"
        )

        h4 Development launched

        time 3 days ago

      ul.events(ng-class="{expanded: vm.expanded.development }")
        li
          hr.biggest

        li.event
          button.clean.point

          include parts/copilot

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-messaging
            include parts/messages

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.begins}"
          ng-click="vm.expanded.begins = !vm.expanded.begins"
        )

        h4 Development begins

        time 3 days ago

      ul.events(ng-class="{expanded: vm.expanded.begins }")
        li
          hr

        li.event
          button.clean.point

          timeline-status-report
            include parts/status-report

        li
          hr.biggest

        li.event.finish
          button.clean.point

          h1 Development complete

    li.splitter

    li.event-group
      header
        button.clean.point(
          ng-class="{expanded: vm.expanded.developmentFixes}"
          ng-click="vm.expanded.developmentFixes = !vm.expanded.developmentFixes"
        )

        h4 Final development fixes

        time 3 days ago

      ul.events(ng-class="{expanded: vm.expanded.developmentFixes }")
        li
          hr

        li.event
          button.clean.point

          timeline-comments
            include parts/comments

        li
          hr.biggest

        li.event
          button.clean.point

          timeline-final-deliverables
            include parts/final-deliverables

    li.splitter

    li.complete
      header
        button.clean.point

        h1 Project complete

        p September 23 2015
