.flex.middle.center
  button.clean.point(
    ng-class="{ expanded: vm.expanded[event.type]}"
    ng-click="vm.expanded[event.type] = !vm.expanded[event.type]"
  )
    .icon.plus.hollow

    .icon.minus.hollow

  ul.header.flex.center.middle
    li
      .icon.bubble.smallest

    li
      avatar(avatar-url="{{event.threadInfo.lastMessageInfo.publisherInfo.avatar}}")

    li.name.flex-grow
      p
        a(href="#") {{event.threadInfo.lastMessageInfo.publisherInfo.handle}}

      p.role {{event.threadInfo.lastMessageInfo.publisherInfo.role}}

    li
      time {{event.threadInfo.eventTime | timeLapse}}

main.transition(
  ng-if="event.submissionThreads.length > 0"
  ng-class="{ 'no-height': !vm.expanded[event.type] }"
  lock-height="no-height"
)
  hr

  p {{event.threadInfo.lastMessageInfo.publisherInfo.handle}} has commented on {{event.submissionThreads.length}} submission images.

  ul.submissions.flex.center
    li(ng-repeat="submission in event.submissionThreads track by $index")
      .notification.absolute {{submission.unreadMessageCount}}

      a(ui-sref="file-detail({projectId: vm.workId, stepId: eventGroup.workStepId, submissionId: submission.submissionId, fileId: submission.submissionFileId})")
        img.img(ng-src="{{submission.thumbnailUrl}}")

  button.wider.view-all(ui-sref="submission-detail({projectId: vm.workId, stepId: eventGroup.workStepId, submissionId: event.submissionThreads[0].submissionId})") view all comments
