.flex.middle.center
  button.clean.point(
    ng-class="{ expanded: vm.expanded[$parent.$parent.$index].events[$index]}"
    ng-click="vm.expanded[$parent.$parent.$index].events[$index] = !vm.expanded[$parent.$parent.$index].events[$index]"
  )
    .icon.plus.hollow

    .icon.minus.hollow

  h1 Co-pilot assigned

time {{ event.eventTime | timeLapse}}

event-card-main.transition.avatar-box.flex.center.middle(
  ng-show="event.copilot.handle"
  ng-class="{ 'no-height': !vm.expanded[$parent.$parent.$index].events[$index] }"
  lock-height="no-height"
)
  avatar(avatar-url="{{ event.copilot.avatar }}")

  p.co-pilot Hi I'm <a href="#"> {{ event.copilot.handle }} </a>. I'll be your project manager.